# Ignore everything
*
# Ignore all .env files
.env
**/.env
# token files
auth_token_str.txt


# Keep these folders
!process_files/
!query_last_timestamp/
!update-labels/
!upload_To_bucket/
!users-devices-permission/
!F4D/
!Field4D_Site/
!field4d-statdeck/
!login_and_issue_jwt/

# Also keep their contents
!process_files/**
!query_last_timestamp/**
!update-labels/**
!upload_To_bucket/**
!users-devices-permission/**
!F4D/**
!Field4D_Site/**
!field4d-statdeck/**
!/login_and_issue_jwt/** 

# Keep .gitignore itself
!.gitignore
!README.md
