# Ignore everything
*
# Ignore all .env files
.env
**/.env
# token files
auth_token_str.txt
# dont uplad .cursor files
.cursor/


# Keep these folders
!process_files/
!query_last_timestamp/
!update-labels/
!upload_To_bucket/
!users-devices-permission/
!F4D/
!Field4D_Site/
!field4d_analytics/
!login_and_issue_jwt/
!F4D_Pi_V2/
!cloud_upload_alerts/
!Reggie_Online/
# Also keep their contents
!process_files/**
!query_last_timestamp/**
!update-labels/**
!upload_To_bucket/**
!users-devices-permission/**
!F4D/**
!Field4D_Site/**
!field4d_analytics/**
!/login_and_issue_jwt/** 
!/F4D_Pi_V2/**
!/cloud_upload_alerts/**
!/Reggie_Online/**

# Keep .gitignore itself
!.gitignore
!README.md
