[Unit]
Description=Field4D Main Service
After=f4d-update.service f4d-env-initializer.service
Requires=f4d-update.service f4d-env-initializer.service

[Service]
Type=simple
WorkingDirectory=/home/pi/F4D
ExecStart=/home/pi/F4D/venv/bin/python -u /home/pi/F4D/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target