[Unit]
Description=Field4D Environment Initializer
Wants=network-online.target
After=network-online.target f4d-update.service
Requires=f4d-update.service

[Service]
Type=oneshot
ExecStart=/home/pi/F4D/venv/bin/python /home/pi/F4D/initializer/env_initializer.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target