.end_exp_button {
    margin: 0.6rem;
    padding: 0.5rem;
    font-size: 18px;
    color: white;
    background-color: rgb(137, 22, 22);
    border-radius: 0.5rem;
    border: solid rgb(173, 5, 5) 1px;
    cursor: pointer;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Updated font */

}

.end_exp_button:hover {
    color: rgb(155, 153, 153);
    background-color: rgb(88, 13, 13);
    border: solid rgb(132, 2, 2) 1px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Updated font */

}